<!DOCTYPE html>
<html>
  <head>
    <title>Routenplaner</title>
    <link rel="icon" href="data:,"> <!-- no favicon -->
    <link rel="preload" as="script" href="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.min.js" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.min.js"></script>
    <div id="app">
      <h1>Tools</h1>
      <p>
        <a href="https://www.gpsvisualizer.com/convert_input">GPS Visualizer</a>
      </p>

      <h1>Routes</h1>
      <div v-for="(item, index) in prev"><button @click="deleteRoute(item,index)">delete</button><a style="margin-left: 1em;" :href="`${gmaps}${item.v}`">{{item.k}} ({{countStops(item.v)}} Stops)</a><br /></div>
      <br />
      <div v-if="currentRoute !== ''"><button @click="deleteCurrentRoute">delete</button><a :href="`${gmaps}${currentRoute}`">{{currentRouteName}} ({{countStops(currentRoute)}} Stops)</a></div>
      <label for="routename">Route Name:</label>
      <input type="text" id="routename" v-model="routeName" />
      <button :disabled="saveDisabled" @click="saveRoute">Save Route</button>
      <p style="color: red; font-size: 1.5em;" v-if="showAdded">Added Stop - {{addInfo}}</p>
      <table style="text-align: center;">
        <tr>
          <th>Time</th>
          <th>Lat Long</th>
          <th>Accuracy m</th>
          <th>Speed km/h</th>
        </tr>
        <tr v-for="h in history">
          <td>{{new Date(h.timestamp).toLocaleTimeString()}} <button @click="addLocation(h)">Add</button></td>
          <td>{{h.coords.latitude}} {{h.coords.longitude}}</td>
          <td>{{h.coords.accuracy.toFixed(2)}}</td>
          <td>{{(h.coords.speed * 3.6).toFixed(2)}}</td>
        </tr>
      </table>
    </div>
    <script>
      // Register ServiceWorker
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() { // register after window load (https://developers.google.com/web/tools/workbox/guides/service-worker-checklist)
          navigator.serviceWorker.register('serviceworker.js').then(function (registration) {
            console.log('Registered ServiceWorker');
          }).catch(function (err) {
            console.log('Cannot register ServiceWorker', err);
          });
        });
      }
      const options = {
        enableHighAccuracy: true,
        maximumAge: 0,
        timeout: 10000,
      };
      const storagePrefix = "wandern.coordinates.";
      const gmaps = "https://www.google.com/maps/dir";
      const currentRouteName = "Current Route"; // key fuer aktuell entstehende route
      new Vue({
        el: "#app",
        data() {
          return {
            prev: [],
            currentRoute: "",
            routeName: "",
            showAdded: false,
            history: [],
            addInfo: "",
          };
        },
        computed: {
          saveDisabled() {
            return this.currentRoute === "" || this.routeName === "";
          },
        },
        created() {
          this.loadRoutesFromLocalStorage();

          navigator.geolocation.watchPosition(
            (position) => {
              this.history.unshift(position);
              if (this.history.length > 5) {
                this.history.pop();
              }
            },
            () => {
              // ignore because only watch
            },
            options
          );
        },
        methods: {
          countStops(url) {
            return url.split(",").length - 1;
          },
          addLocation(position) {
            this.addInfo = "Accuracy m: " + position.coords.accuracy + "m, Speed km/h: " + position.coords.speed * 3.6 + "km/h";
            let key = storagePrefix + currentRouteName;
            let oldPart = localStorage.getItem(key) == null ? "" : localStorage.getItem(key);
            let coordinates = position.coords.latitude + "," + position.coords.longitude;
            this.currentRoute = oldPart + "/" + coordinates;
            localStorage.setItem(key, this.currentRoute);
            this.showAdded = true;
            setTimeout(() => (this.showAdded = false), 8000);
          },
          saveRoute() {
            localStorage.setItem(storagePrefix + this.routeName, this.currentRoute);
            this.currentRoute = "";
            localStorage.removeItem(storagePrefix + currentRouteName);
            this.loadRoutesFromLocalStorage();
          },
          deleteCurrentRoute() {
            if (confirm("Aktuelle Route wirklich löschen?")) {
              this.currentRoute = "";
              localStorage.removeItem(storagePrefix + currentRouteName);
            }
          },
          deleteRoute(item, index) {
            if (confirm("Route " + item.k + " wirklich löschen?")) {
              this.prev.splice(index, 1);
              localStorage.removeItem(storagePrefix + item.k);
            }
          },
          loadRoutesFromLocalStorage() {
            this.prev = [];
            Object.keys(localStorage).map((k) => {
              if (k.startsWith(storagePrefix)) {
                let kSub = k.substring(storagePrefix.length);
                if (kSub == currentRouteName) {
                  this.currentRoute = localStorage.getItem(k);
                } else {
                  this.prev.push({ k: kSub, v: localStorage.getItem(k) });
                }
              }
            });
          },
        },
      });
    </script>
  </body>
</html>
